<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKizRF8CGwO_WN_kOe9ExCrjlZlEfO-a8</string>
	<key>GCM_SENDER_ID</key>
	<string>389752019580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toda.TempleteApp</string>
	<key>PROJECT_ID</key>
	<string>toda-templete-app-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>toda-templete-app-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389752019580:ios:0b46c188cdb70b3d8e47f9</string>
</dict>
</plist>